streamlit
streamlit_option_menu
numpy
pandas
fastapi
uvicorn
bs4
requests
boto3
datetime
pydantic
pathlib
logging
python-dotenv
apache-airflow
apache-airflow-providers-snowflake
dbt-core
dbt-snowflake